{% extends 'base.html.twig' %}

{% block title %}{{ ('create.new.event-type.title')|trans }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ ('create.new.event-type.title')|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}

    <div class="form-group">
        <label class="control-label col-lg-4" for="name">{{ ('form.field.name')|trans }}</label>
        <div class="col-lg-4">
            {{ form_widget(form.name) }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4" for="url">{{ ('form.field.code')|trans }}</label>
        <div class="col-lg-4">
            {{ form_widget(form.code) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-8">
            {{ form_widget(form.save) }}
        </div>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
